body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  color: white;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proposal-card {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.buttons button {
  margin: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.yes {
  background-color: #7a00ff;
  color: white;
}

.no {
  background-color: #ff007a;
  color: white;
}
